body {
    margin: 0;
    padding: 0;
    background-color: #fcf1e6;
}

nav {
    display: flex;
    justify-content: center;

    margin: 2rem;
}

nav a {
    color: #1f211c;
    text-decoration: none;

    font-family: "Lulo Clean", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 13px;

    text-transform: uppercase;
    letter-spacing: normal;

    margin: 0 1rem;
}

@font-face {
    font-family: "Lulo Clean";
    font-style: normal;
    font-weight: 400;
    src: local("Lulo Clean One"), local('LuloCleanOne'), url("fonts/LuloCleanOne-Regular.otf") format('opentype');
}

.divider {
    height: 50px;
    background-image: url(images/divider.png);
    background-size: auto 50px;
    background-position: center center;
    background-repeat: repeat-x;
}


aside {
    font-family: "Brush Script MT";
    font-size: 24px;
    color: rgb(38, 61, 103);
}