body {
    margin: 0;
    padding: 0;
    background-color: #fcf1e6;
}

nav {
    display: flex;
    justify-content: center;

    margin: 3rem;
}

nav a {
    color: #1f211c;
    text-decoration: none;

    font-family: "Lulo Clean", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 13px;

    text-transform: uppercase;
    letter-spacing: normal;

    margin: 0 1rem;
}

header {
    text-align: center;
}

section {
    padding: 0 2rem 0;
}

section p, section ul, section li {
    font-family: "Century Schoolbook", cursive;
    font-weight: 400;
    font-style: Italic;
    font-size: 16px;

    line-height: 1.6;
    text-transform: none;
    letter-spacing: normal;

    color: #1f211c;

    width: 80%;
}

h1 {
    font-family: "Lulo Clean", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;

    line-height: 1.4;
    text-transform: none;
    letter-spacing: 5px;

    color: #1f211c;

    margin: 20px auto 10px;
}

h2 {
    font-family: "Steelfish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;

    color: #1f211c;
}

h3 {
    font-family: "Lulo Clean", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;

    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: normal;

    color: #1f211c;
    margin: 0;
}

.abstract-header {
    background-image: url(images/save_the_date_cropped_2.jpeg), none;
    background-position: center top, left top;
    background-repeat: no-repeat, repeat;
    background-size: 800px auto, auto;
    padding: 50px 0 0 0;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-photo {
    width: 90%;
}

.bride-and-groom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bride-and-groom .and {
    font-family: "Century Schoolbook", cursive;
    font-weight: 400;
    font-style: Italic;
    font-size: 17px;

    line-height: 1.6;
    text-transform: none;
    letter-spacing: 4px;

    color: #1f211c;
}

.join-us {
    font-family: "Century Schoolbook", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;

    line-height: 1.4;
    text-transform: lowercase;
    letter-spacing: normal;

    color: #1f211c;

    margin-top: 2rem;
}

#map {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.date {
    font-family: "Lulo Clean", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;

    line-height: 1.4;
    text-transform: lowercase;
    letter-spacing: 4px;

    color: #1f211c;

    margin-top: 1rem;
}

.events-container {
    display: flex;
    justify-content: center;
}

.events-container .info, .events-container .map {
    max-width: 50%;
}

.event-item {
    margin-bottom: 2rem;
}

.event-item h3 {
    margin-bottom: .5rem;
}

.event-item p {
    margin-top: 0;
}

.event-heading {
    position: relative;
}

.circle {
    display: flex;

    position: absolute;
    left: -60px;
    width: 30px;
    height: 30px;

    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 50%;
    background-color: #1f211c;

    cursor: pointer;

    color: #fcf1e6;
    font-family: "Century Schoolbook", serif;
    font-size: 19.2px;
}

.divider {
    height: 50px;
    background-image: url(images/divider.png);
    background-size: auto 50px;
    background-position: center center;
    background-repeat: repeat-x;

    margin: 3rem 0;
}

.small-divider {
    display: inline-block;
    height: 50px;
    width: 200px;
    background-image: url(images/small-divider.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.plus {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(https://d3t14gfu9ehll4.cloudfront.net/themes/7e9fedee-caff-46de-8394-e1a6b42df1f0/root_SmallGraphic_Sn3gt0S.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Lulo Clean";
    font-style: normal;
    font-weight: 400;
    src: local("Lulo Clean One"), local('LuloCleanOne'), url("fonts/LuloCleanOne-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Century Schoolbook";
    font-style: italic;
    font-weight: 400;
    src: local("Century Schoolbook Italic"), local('CenturySchoolbook-Italic'), url("fonts/CenturySchoolbookItalic-Italic.TTF") format('truetype');
}

@font-face {
    font-family: "Steelfish";
    font-style: normal;
    font-weight: 400;
    src: local("Steelfish"), local('Steelfish'), url("fonts/Steelfish-Regular.ttf") format('truetype');
}

@media (min-width: 544px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .abstract-header {
        background-size: 1200px auto, auto;
        padding: 75px 0 0 0;
    }

    .date {
        font-size: 22px;
    }

    .bride-and-groom .and {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
    }

    .abstract-header {
        background-size: 1600px auto, auto;
        padding: 75px 0 0 0;
    }

    .date {
        font-size: 25px;
    }

}

@media (min-width: 992px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .date {
        font-size: 29px;
    }
}